* {
    font-family: sans-serif;
}
#sc {
    background-color: wheat;
    border: none;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 3px;
    transition: .3s;
}
#sc:hover {
    cursor: pointer;
}
#sc:active {
    transform: scale(90%);
}

#dow {
    background-color: darkred;
    border: none;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 3px;
    transition: .3s;
}